{{/* Adapted from Stack 4.0.3 (GPL-3.0): first-body image applies only to lists. */}}
<article>
  <a href="{{ .RelPermalink }}">
    <div class="article-details">
      <h2 class="article-title">{{ .Title }}</h2>
      {{ if not .Date.IsZero }}<footer class="article-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | time.Format .Site.Params.dateFormat.published }}</time></footer>{{ end }}
    </div>
    {{ $image := partial "helper/image" (dict "Image" (.Params.list_image | default .Params.image) "Resources" .Resources "Context" .) }}
    {{ if $image }}
      <div class="article-image">
        {{ partial "helper/thumbnail-image" (dict "Resource" $image.Resource "Width" 60 "Height" 60 "Resize" false "Attributes" (dict "src" $image.Permalink "alt" .Title "loading" "lazy" "width" $image.Width "height" $image.Height)) }}
      </div>
    {{ end }}
  </a>
  {{ partial "article-list/tags" . }}
</article>
